{% extends "layout/layout.html" 
	%}
{% block content %}
	<div id="form-holder">
		<h3>
			<i>
				"compost a nice bolgs"
			</i>
		</h3>

		<p>
		<div id="img-upload">			
			<file-upload>
			</file-upload>	
		</div>
		</p>

		<form method="post" 
			action="/compose" 
			class="compose-form">

			<input type="text" 
				name="title" 
				id="input-title" 
				class="compose-form__input compose-form__input--half-width" 
				placeholder="title"
				value="{{ lipsum(n=1, html=False, min=1, max=10) }}">

			<input type="text" 
				name="perma" 
				id="input-perma" 
				class="compose-form__input compose-form__input--half-width" 
				placeholder="perma">

			<input type="text" 
				name="excerpt" 
				id="input-excerpt" 
				class="compose-form__input" 
				placeholder="excerpt">

			<textarea type="text" 
				name="body" 
				id="input-body" 
				class="compose-form__input compose-form__input--body" 
				placeholder="body"
				> {{ lipsum(n=5, html=False, min=20, max=100) }}
			</textarea>

			<select 
				name="kind"
				id="input-kind"
				class="compose-form__input compose-form__input--half-width">
				<option value="post">standard bolg post</option>
				<option value="page">conent for a 'page'</option>
			</select>
			
			<input type="text" 
				name="tags" 
				id="input-tags" 
				class="compose-form__input" 
				placeholder="tags">

			<button type="submit" 
				id="submit" 
				class="compose-form__button">
			submit</button> 

		</form>

	</div>
{% endblock %}