{% extends "layout/layout.html" %}
{% block content %}
	<div id="form-holder">
		<h3>
			<i>
				"compost a nice bolgs"
			</i>
		</h3>

		<p>

		<div id="img-upload" 
			data-bolg="{{ bolg.id }}" 
			data-img-loc="{{ config['PROCESSED_PHOTOS_DEST'] }}">
			
			<file-upload>
			</file-upload>	
			<div id="thumb-holder">
				<image-thumb
					v-for="img in images"
					:key="img.id"
					:format="img.format"
					:name="img.name"
					:orig_name="img.orig_name">
				</image-thumb>					
			</div>
		</div>
		</p>

 		<form method="POST" action="/edit/{{ bolg.id }}" class="compose-form">
			<input 
				type="text" 
				name="title" 
				id="input-title" 
				class="compose-form__input compose-form__input--half-width" 
				value="{{ bolg.title }}">

			<input 
				type="text" 
				name="perma" 
				id="input-perma" 
				class="compose-form__input compose-form__input--half-width" 
				value="{{ bolg.perma }}">
			
			<input 
				type="text" 
				name="excerpt" 
				id="input-excerpt" 
				class="compose-form__input" 
				value="{{ bolg.excerpt }}">

			<textarea 
				type="text" 
				name="body" 
				id="input-body" 
				class="compose-form__input compose-form__input--body" 
				placeholder="body"
				>{{ bolg.body_src }}</textarea>

			<select 
				name="kind"
				id="input-kind"
				class="compose-form__input compose-form__input--half-width">
				<option 
					value="post" 
					{% if bolg.kind == 'post' %}
						selected="selected"
					{% endif %}>standard bolg post</option>
				<option 
					value="page"
					{% if bolg.kind == 'page' %}
						selected="selected"
					{% endif %}>conent for a 'page'</option>
			</select>

			<input 
			type="text" 
			name="tags" 
			id="input-tags" 
			class="compose-form__input" 
			value=" {{bolg.tags|join(', ')}}">

			<button 
				type="submit" 
				id="submit" 
				class="compose-form__button">
				submit
			</button> 

		</form>

	</div>
{% endblock %}