{% extends "layout/layout.html" %}
{% block content %}
	
	{% for bolg in bolgs %}
		<div class="bolg bolg-listing" v-bind:class="{ invisible: searching }">

				<p>
					<strong>
						<span class="bolg-listing__time-stamp"> {{ bolg.created }}</span>
						<a href="/bolg/{{ bolg.perma }}">
							{{ bolg.title }}
						</a>
					</strong>
				</p>
				<p>{{ bolg.excerpt|safe }}</p>
				{% if bolg.tags -%}
					<br>
					{% for tag in bolg.tags %} 
						<a href="/tagged/{{tag.name}}">#{{ tag.html|safe }}</a>
					{% endfor %}
				{%- endif %}

		</div>
		{% if loop.index < loop.length -%}
			<hr v-bind:class="{ invisible: searching }">
		{% endif %}
	{% endfor %}

{% endblock %}