{% extends "layout/layout.html" %}
{% block content %}
	
	{% for bolg in bolgs %}
		<div class="bolg" v-bind:class="{ invisible: searching }">

				<h3>
					<a href="/bolg/{{ bolg.perma }}">
						{{ bolg.title }}
					</a>
					<span class='listing-date'> {{ bolg.created | lower() }}</span>
				</h3>
				<p>{{ bolg.excerpt|safe }}</p>
				{% if bolg.tags -%}
					<br>
					{% for tag in bolg.tags %} 
						<a href="/tagged/{{tag.name}}">#{{ tag.html|safe }}</a>
					{% endfor %}
				{%- endif %}

		</div>
		{% if loop.index < loop.length -%}
			<hr v-bind:class="{ invisible: searching }">
		{% endif %}
	{% endfor %}

{% endblock %}