<input type="checkbox" id="nav-toggle">
<label for="nav-toggle"></label>

<div id="nav-item-list">

	<div class="nav-link">
		 <a href="/">home</a> 
	</div>

	{% if g.logged == True %}
		<div class="nav-link">
			 <a href="/compose">compose</a> 
		</div>

		<div class="nav-link">
			 <a href="/login">log out</a> 
		</div>
	{% endif %}

		<div class="nav-link">
			 <a href="#">about</a> 
		</div>
		
		<div class="nav-link">
			 <a href="#">research</a> 
		</div>
				


	<div class="nav-link" id="tagbox">
		<input  ref="tagInput"
				@input="search(searchTag)" 
				@blur="statusCheck()" 
				v-model="searchTag"
				class="tag-search_text-input"
				placeholder="tag"
				{% if tag_name %}
					value="{{ tag_name }}"
					data-tagged="{{ tag_name }}"
				{% else %}

				{% endif %}
			>
		</input>			
	</div>



</div>
