{% extends "layout.html" %}
{% block content %}
	<div class="bolg" id="bolg-view" v-bind:class="{ invisible: searching }">
		<p>
			{{g.cat}} / <strong>{{bolg.title}}</strong>
			{% if g.logged == True %}
			(<a href="/edit/{{bolg.id}}">edit</a>)
			{% endif %}
		</p>

		<h3>{{bolg.date}}</h3>
		
		<p>
			{{bolg.body | safe}}	
		</p>
		
		<p>
		<br>
		{% if bolg.tags %}
			<h4>
				file under:
			</h4>
			{% for tag in bolg.tags %} 
				<a href="/tagged/{{tag}}">#{{tag}}</a>
			{% endfor %}	
		{% endif %}
		</p>

	</div>

{% endblock %}