appnope==0.1.2
backcall==0.2.0
blinker==1.7.0
boto3==1.18.63
botocore==1.21.63
certifi==2024.2.2
charset-normalizer==2.0.7
click==8.1.7
-e git+ssh://git@github.com/dwright213/dandotco.git@1f70b6dbccaad8b814f2c9bbba987ebb7c7654b2#egg=dandotco
decorator==5.1.0
ecdsa==0.17.0
envs==1.3
Flask==3.0.1
Flask-Reuploaded==1.1.0
httplib2==0.20.1
httpretty==0.8.14
idna==3.3
importlib-metadata==7.0.1
ipython==7.28.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.3
jmespath==0.10.0
Markdown==3.3.4
MarkupSafe==2.1.4
matplotlib-inline==0.1.3
oauth2==1.9.0.post1
parso==0.8.2
peewee==3.14.4
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-jose==3.3.0
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
traitlets==5.1.0
urllib3==1.26.7
uWSGI==2.0.23
Wand==0.6.7
warrant-lite==1.0.4
wcwidth==0.2.5
Werkzeug==3.0.1
zipp==3.17.0
