body {
	font-size: $font-size;
	margin: 0;
}

#main-container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

#header {
	margin: 0 0 10px 0;
	order: 1;
	// background-color: #e6e6fa;
	text-align: center;
}

#header-tagline {
	display: block;
	margin-left: 100px;
	color: #30303099;
}


#nav {
	order: 2;
	margin: 0 0 10px 0;
	text-align: center;
	padding: 5px;
	// background-color: #7fffd4;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.nav-link {
	margin: 0 15px 0 15px;
}



#content {
	order: 3;
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.bar {
	flex-grow: 1;
	width: 20%;
	// background-color: #d3ffcb;
}

#bolg-holder {
	display: flex;
	flex-flow: column nowrap;

}

.bolg {
	// background-color: #ccf0ff;
	padding: 0 15px 15px 15px;
	margin: 0 10px 10px 10px;
	justify-content: space-between;
}

#nav-toggle {

	display: none;
}

#nav-item-list {
	display: flex;
	flex-flow: row nowrap;
}

@media screen and (max-width: 768px) {
	
	#header {

	}

	.title-padder {
		padding-left: 10%;
	}

	.bar {
		display: none;
	}

	#bolg-holder {
		max-width: 100vw;
	}

	.bolg {
		margin: 0 0 10px 0;
	}
}

@media screen and (max-width: 480px) {
	#header {
		text-align: right;
	}

	#header-title {
		margin-top: 0;
	}

	#header-tagline {
		text-align: center;
		margin: 0;
		display: block;
	}


	#nav {
		order: 0;
		flex-flow: column nowrap;
		justify-content: left;
		padding: 0;
		margin: 0;
	}

	#nav-item-list {
		display: flex;
		flex-flow: column nowrap;
		overflow: hidden;
		height: 0;
		@include main-transition;
	}

	.nav-link {
		text-align: start;
		display: block;
		padding: 5px;
		&:nth-of-type(1) {
			padding: 50px 0 0;
		}
	}

	#nav label {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 5px;
		left: 5px;
		background: url(svg/sprite.svg);
		display: inline-block;
		cursor: pointer;
		@include main-transition;	
	}

	#nav-toggle {
		opacity: 0;
		&:checked ~ label {
			transform: rotate(45deg);
		}
		&:checked ~ #nav-item-list {
			display: block;
			opacity: 1;
			height: 160px;
		}
	}
}

#footer {
	order: 4;
	padding: 15px;
	margin: 10px 0 0 0;
	// background-color: #7fffd4;

}
