#main-container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

#header {
	margin: 0 0 10px 0;
	order: 1;
	// background-color: #e6e6fa;
	text-align: center;
}

#header-tagline {
	display: block;
	margin-left: 100px;
	color: $text-muted;
}

#content {
	order: 4;
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

