
// approx. line height: 
$height: 30;

// number of nav menu options:
$count: 5;

// determine our nav menu height for mobile presentation:
@function nav-height() {
	@return $height * $count;
}

#nav {
	order: 2;
	font-size: 1rem;
	margin: 0 0 10px 0;
	text-align: center;
	padding: 5px;
	// background-color: #7fffd4;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#nav-toggle {
	display: none;
}

#nav-item-list {
	display: flex;
	flex-flow: row nowrap;
}

.nav-link {
	margin: 0 15px 0 15px;
}



@media screen and (min-width: 768px) {
	#nav-item-list {
		justify-content: space-between;
		width: 30rem;
	}
}

@media screen and (max-width: 480px) {

	#nav {
		font-size: $text-size-nav;
		order: 0;
		flex-flow: column nowrap;
		justify-content: left;
		padding: 0;
		margin: 0;
	}

	#nav-item-list {
		display: flex;
		flex-flow: column nowrap;
		overflow: hidden;
		height: 0;
		@include main-transition;
	}

	.nav-link {
		text-align: start;
		display: block;
		padding: 5px;
		&:nth-of-type(1) {
			padding: 55px 0 0 5px;
		}
	}

	#nav label {
		width: $nav-toggle-size;
		height: $nav-toggle-size;
		position: absolute;
		top: 5px;
		left: 5px;
		background: url(../img/ui/arrow.svg);
		display: inline-block;
		cursor: pointer;
		@include main-transition;	
	}

	#nav-toggle {
		opacity: 0;
		&:checked ~ label {
			transform: rotate(45deg);
		}

		&:checked ~ #nav-item-list {
			display: block;
			opacity: 1;
			padding-top: 55px;
			height: #{nav-height()}px;

				.nav-link:nth-of-type(1) {
					padding: 5px;
				}

		}
	}
}
