.path {
	font-size: 1rem;
}

.path__category {
	display: none;
}

.path__title {
	
}
	
.path__time-stamp {
	&::before {
		content: '';
	}
	float: right;
	color: $text-muted;
	font-size: .8rem;
}



@media screen and (min-width: 768px) {
	.path__category {
		display: inline;
	}

	.path__time-stamp {
		color: $text-muted;
		float: right;
		// font-size: 1rem;
		&::before {
			content: '';
		}
	}
}
