.tag-search_text-input {
	background-color: transparent;
	border: 0;
	font-size: 1em;
	color: $text-less-muted;
	border-radius: 3px;
	max-width: 90px;
	&::placeholder {
		color: $text-muted;
	}	

	&:hover,
	&:focus {
		outline: none;
		color: $text-less-muted;
		background-color: rgba(0, 0, 0, 0.11);

	}
	&:hover::placeholder,
	&:focus::placeholder {
		color: $text-less-muted;
		text-decoration: none;
	}
}