// text/fonts
$text-size: 15px;
$text-size-desktop: 17px;
$text-size-nav: 17px;
$font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

$text-color: #000;
$text-muted: lighten($text-color, 30%);
$text-less-muted: lighten($text-color, 9%);


$bgcolor: #b7b7b7;

$danger-color: red;

$nav-toggle-size: 50px;
$nav-item-height: 20px;
