
<a 	href="https://twitter.com/burgersquid"
	name="link to author's Twitter profile">
	<img src="{{ config['DEV_STATIC'] }}/img/ui/twitter.gif" 
		 class="footer__badge twitter" 
		 alt='A retro style badge that reads "twitter NOW! 100%"' />
</a>

<a 	href="https://github.com/dwright213/"
	name="link to author's Twitter profile">
	<img src="{{ config['DEV_STATIC'] }}/img/ui/github.gif" 
		 class="footer__badge github" 
		 alt='A retro style badge that reads "COOL! its a Github Profile"' />
</a>
