body {
	font-size: 17px;
	margin: 0;
}

#main-container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

#header {
	margin: 0 0 10px 0;
	background-color: #ccf0ff;
}
.header-div {
	text-align: center;
}
.header-div small {
	margin-left: 100px;
}


#nav {
	margin: 0 0 10px 0;
	text-align: center;
	padding: 5px;
	background-color: #ccf0ff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.nav-link {
	/*padding: 0 5px 0 5px;*/
	/*margin: 0 15px 0 15px;*/
}



#content {
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
}

.bar {
	width: 30vw;
	background-color: #d3ffcb;
}

#bolg-holder {
	display: flex;
	flex-flow: column nowrap;
}

.bolg {
	padding: 0 15px 15px 15px;
	background-color: #ccf0ff;
	margin: 0 10px 10px 10px;
	justify-content: space-between;
}


#footer {
	padding: 15px;
	margin: 10px 0 0 0;
	background-color: #ccf0ff;
}
