<meta name="twitter:card" 		 content="summary" />
<meta name="twitter:site" 		 content="@burgersquid" />
{% if bolg %}
	
	<meta name="twitter:title"		 content="{{ bolg.title }}" />
	<meta name="twitter:description" content="{{ bolg.excerpt }}" />

{% else %}

	<meta name="twitter:title"		 content="{{ request.host }}" />
	<meta name="twitter:description" content="Official website of some guy in Portland what writes code to stay out of trouble." />
{% endif %}

{% if bolg and bolg.images %}
{# use the first of this bolg's images.. #}
	{% set img = bolg.images[0] %}
	<meta name="twitter:image" content="https://{{ request.host }}
		{{- config['PROCESSED_PHOTOS_DEST'] }}
		{{- bolg.id }}/
		{{- img.name }}400.jpg"/>
{% else %}
{# no bolg or no bolg images? Let's use our standard apple touch icon. #}
	<meta name="twitter:image" content="https://{{ request.host }}/apple-touch-icon.png" />
{% endif %}
